
.carousel{
    width: 100%;
}

.slick-dots{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.slick-dots li button{
    border-radius: 50px;
    background-color: #fff;
    color: #151515;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}

li.slick-active button, li button:hover{
    background-color: #60FF80;
}

.arrowDiv {
    display: flex;
    justify-content: space-around;
    margin-top: -60px;
}


.arrow{
    background-color: #fff;
    color: #151515;
    border-radius: 25px;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
}

.arrow:hover{
    background-color: #60FF80;
    color: #151515;
}