:root {
      --mainColor: #60ff80;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

p,
span {
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
}

p {
      margin: 6px 0;
      color: rgb(20, 20, 20);
}

p span {
      font-weight: 700;
      /* color: #a7ffb7; */
      color: #345b92;
}

h1,
h2 {
      font-family: 'Ropa Sans', sans-serif;
      color: var(--mainColor);
}

h1 {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 30px;
}

h2 {
      background-color: #182436;
      padding: 5px 10px;
      font-size: 16px;
}

h3 {
      font-family: 'Ropa Sans', sans-serif;
      color: #c6ffd1;
}

body {
      color: #fff;
}

#input_data {
      /* background-color: #203556; */
      width: 403pt;
      padding: 40px 30px;
}

.generatedBy {
      text-align: center;
      margin-top: 50px;
      font-size: 18px;
      background-color: #182436;
      color: #fff;
      padding: 10px;
}
.generatedBy span {
      font-size: 18px;
      color: #60ff80;
}
