
:root {
	--mainColor: #60ff80;
	--secondaryColor: #182436;
	--lightBlueColor: #203556;
}

body {
	background-color: #203556;
	background-image: url("../imgs/6026681.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-blend-mode: overlay;
}

.backgroundIcon {
	position: fixed;
	top: 0;
	right: 15%;
	z-index: -1;
}

.backgroundIcon2 {
	position: fixed;
	top: 0;
	left: 15%;
	z-index: -1;
}
header {
	height: 60vh;
	background-color: var(--secondaryColor);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url("../imgs/Blueprint-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-right: 10vw;
	padding-left: 10vw;
}

.headTxt {
	z-index: 5;
}

.btnRemplir {
	text-decoration: none;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: var(--lightBlueColor);
	padding: 15px 30px;
	border-radius: 25px;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	transition: all 0.3s ease;
}

.icons {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}

.icons i {
	position: absolute;
	left: 0;
	display: block;
}

.icon-default {
	transition: opacity 0.3s, transform 0.3s;
}

.icon-hover {
	transition: opacity 0.3s, transform 0.3s;
	transform: rotate(-180deg) scale(0.5);
	opacity: 0;
}

.btnRemplir:hover {
	color: var(--mainColor);
	transform: scale(1.1);
	box-shadow: -5px 8px 5px 0 rgba(23, 23, 23, 0.4);
}

.btnRemplir:hover .icon-hover {
	transform: rotate(0deg) scale(1);
	opacity: 1;
}

.btnRemplir:hover .icon-default {
	transform: rotate(180deg) scale(0.5);
	opacity: 0;
}

a {
	text-decoration: underline;
	color: var(--mainColor);
}

h1 {
	font-family: "monument_extendedUltraBold", sans-serif;
	font-size: 5rem;
	margin: 0;
}

h1 span {
	font-family: "monument_extendedUltraBold", sans-serif;
	color: var(--mainColor);
}

header h2 {
	font-size: 2.5rem;
	margin: 0;
	margin-bottom: 50px;
}

header img {
	width: 100%;
}



.etapesSection {
	padding: 100px 0 100px 0;
	background-color: var(--secondaryColor);
	background-image: url('https://i.postimg.cc/ZKXDLmYK/bacground-sectionetapes.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-direction: column;
}

.wow {
	font-size: 2rem;
	text-align: center;
}

.wow span:nth-child(1) {
	font-weight: 800;
}

.container_etapesSetion{
	border: 2px solid #fff;
	background-color: rgba(30, 30, 30, 0.7);
	box-shadow: #60ff80 0px 7px 29px 0px;
	width: 80%;
}

.container_etapesSetion:first-child{
	margin: auto;
}


.container_etapesSection_flex{
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	padding: 0 1rem;
	margin: auto;
}

.container_titre{
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}


.titreEtape {
	font-size: 2rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	-webkit-background-clip: text;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem 0;
}

.etapesHR {
	width: 100%;
	height: 3px;
	border-radius: 25px;
	background-color: var(--mainColor);
	margin: 0;
	
}

.etapesSection img{
	margin-left: 5%;
	width: 5%;
}


/* .etapesSection ul li::before {
	content: "";
	background-color: #60ff80;
	height: 7px;
	width: 7px;
	border-radius: 25px;
	margin-right: 10px;
	margin-bottom: 5px;
} */

.infoP {
	font-size: 18px;
	text-align: justify;
	padding: 1rem 2rem;
	line-height: 1.7rem;
}


.infoP span {
	color: var(--mainColor);
	font-weight: bold;
}

footer {
	position: relative;
	background-color: #1b2d54;
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
	clip-path: polygon(53% 0, 100% 0, 100% 100%, 0 100%, 0 0, 47% 0, 50% 15%);
}

footer h2 {
	font-size: 2rem;
}

footer a {
	transition: all 0.3s;
}
footer a:hover {
	background-color: var(--mainColor);
	color: #fff;
	text-decoration: none;
}

.postFooter {
	background-color: #151a22;
	text-align: center;
	padding: 10px 0;
}

.postFooter p {
	margin: 0;
	font-size: 12px;
	font-style: italic;
}

.postFooter a {
    color: #fff;
}

@media (max-width: 767px) {
	header {
		justify-content: center;
		padding-left: 20px;
		padding-right: 20px;
		background-size: cover;
		background-attachment: scroll;
	}

	body {
		background-size: cover;
	}

	.headTxt {
		text-align: center;
	}
	.headTxt h1 {
		font-size: 3rem;
	}
	.headTxt h2 {
		font-size: 1rem;
	}

	.info_section h2 {
		font-size: 2rem;
		text-align: center;
	}

	.info_section p {
		font-size: 18px;
	}

	.infoP{
		font-size: 16px;
	}

	.container_titre {
		height: 15rem;
	}
}

@media (max-width: 1024px) {
	.headImg {
		display: none;
	}

	.container_etapesSection_flex{
		flex-direction: column;
		align-items: center;
	}
	.infoP{
		text-align: left;
	}

	.titreEtape{
		padding: 1rem 1rem;
	}

}
